.cards {
    display: flex;
    flex-direction: column;
    gap: 37px;
    color: var(--White);
}

.card-front {
    width: 447px;
    height: 245px;
    background-image: url(../images/bg-card-front.png);
    background-size: contain;
    border-radius: 7px;
    padding: 28px 33px;
    box-shadow: 0 50px 50px hsla(278, 68%, 11%, .1);
    margin-left: 164px;
}

.number-card {
    min-width: 245px;
    min-height: 23px;
    font-size: 28px;
    letter-spacing: 3.4px;
    margin-top: 59px;
}

.name-data {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    margin-top: 26px;
}

.name-data .name-card {
    font-size: 14px;
    letter-spacing: 2px;
}

.name-data .p-data {
    font-size: 13px;
    letter-spacing: 2.4px;
}

.card-back {
    width: 447px;
    height: 245px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image: url(../images/bg-card-back.png);
    background-size: contain;
    border-radius: 7px;
    margin-left: 258px;
    box-shadow: 0 50px 50px hsla(278, 68%, 11%, .1);
}

.card-back .code-card {
    font-size: 14px;
    letter-spacing: 2px;
    margin-right: 57px;
    padding-bottom: 5px;
}