body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main {
    width: 1440px;
    height: 900px;
    display: flex;
    align-items: center;
    gap: 128px;
    font-family: var(--Font-Space);
    font-weight: 500;
    background: url(../images/bg-main-desktop.png) no-repeat;
}

input[type=text] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.btn {
    width: 380px;
    height: 53px;
    font-size: 16px;
    color: var(--White);
    letter-spacing: 1.8px;
    background-color: var(--Very-dark-violet);
    border-radius: 7px;
    cursor: url(https://github.com/HumbertoFox/repository/assets/126817628/ef5feb7b-75d4-47ee-a596-7be253492ebd), auto;
    transition: .3s ease-in-out;
}

.btn:hover {
    opacity: .8;
}

.btn:active {
    opacity: 1;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}