.info-card {
    position: relative;
}

.info-card .info-p {
    font-size: 12px;
    color: var(--Very-dark-violet);
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 8px;
}

.info-card .input {
    height: 45px;
    font-family: var(--Font-Space);
    font-size: 16px;
    letter-spacing: 1px;
    cursor: url(https://github.com/HumbertoFox/repository/assets/126817628/ef5feb7b-75d4-47ee-a596-7be253492ebd), auto;
    outline: none;
    border: 1px solid var(--Light-grayish-violet);
    padding-left: 15px;
    border-radius: 7px;
    margin-bottom: 26px;
}

.info-card .input::placeholder {
    color: var(--Light-grayish-violet);
}

.info-card .input-name,
.info-card .input-number {
    width: 380px;
}

.info-card .error-message {
    font-size: 12px;
    color: var(--Red-Error);
    margin-top: -18px;
    margin-bottom: 18px;
}

.info-card .div-data-code {
    display: flex;
    gap: 20px;
}

.info-card .div-data-code .div-data .input-month,
.info-card .div-data-code .div-data .input-year {
    width: 80px;
}

.info-card .div-data-code .div-data .input-year {
    margin-left: 6px;
}

.info-card .div-code .input-code {
    width: 190px;
}

.info-card .btn-front {
    margin-top: 15px;
}