@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

:root {
    --White: hsl(0, 0%, 100%);
    --Light-grayish-violet: hsl(270, 3%, 87%);
    --Dark-grayish-violet: hsl(279, 6%, 55%);
    --Very-dark-violet: hsl(278, 68%, 11%);
    --Red-Error: hsl(0, 100%, 66%);
    --Gradient-from: hsl(249, 99%, 64%);
    --Gradient-to: hsl(278, 94%, 30%);
}

:root {
    --Font-Space: 'Space Grotesk', sans-serif;
}